* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #282c35;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h4 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.app {
    text-align: center;
    margin-top: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0b2744;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0b2744;
    border-radius: 4px;
    color: #0b2744;
}

button {
    background-color: #0b2744;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #081c2b;
}

a {
    text-decoration: none;
    color: #0b2744;
    margin-top: 10px;
    display: inline-block;
    transition: color 0.3s ease;
}

a:hover {
    color: #081c2b;
}
